<div class="card card-rounded" [ngClass]="{'pb-5 shadow-sm bg-white card-user': nomeUsuario}">
        <div class="image" *ngIf="nomeUsuario">
          <img src="https://www.goodfreephotos.com/albums/other-landscapes/dramatic-clouds-and-skies-over-orchards-and-farms.jpg" alt="background usuário">
      </div>
    <div class="card-body">
      <h5 class="card-title" *ngIf="titulo">
        {{titulo}}
      </h5>
      <div class="user text-center" *ngIf="nomeUsuario">
          <img [src]="avatar" class="rounded-circle avatar" alt="Avatar">
          <h5 class="user-title">{{nomeUsuario}}</h5>
        </div>
      <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
    </div>

    <div class="card-footer">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
</div>
