<div class="row">
  <div class="col-md-12">
      <app-card-rounded titulo="Novo Usuário" [bodyTemplate]="bodyTemplate" >
        <ng-template #bodyTemplate>
          <form action="">
            <div class="form-row">
              <div class="col-md-4">
                <label for="nome" class="control-label">Nome:</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </form>
        </ng-template>
      </app-card-rounded>
  </div>
</div>
