  <div class="row">
    <div class="col-md-12">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Valor</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let permissao of permissoes">
                <td>{{permissao.tipo}}</td>
                <td>{{permissao.valor}}</td>
                <td>
                  <a [routerLink]="['detalhes', permissao.id]" title="Detalhes" class="btn btn-info text-white">
                    <span class="ti ti-search"></span>
                  </a> |
                  <a [routerLink]="['editar', permissao.id]" title="editar" class="btn btn-warning text-white">
                      <span class="ti ti-pencil"></span>
                  </a>
                </td>
              </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>
        </div>
    </div>
  </div>
