$side-bar-cor: #212120;
$side-bar-cor-interna: #ddd;
$nav-item-active: #dd0330;

.sidebar {
    color: $side-bar-cor-interna;
    position: static;
    background-color: $side-bar-cor;
    max-width: 260px;
    height: 100vh;
    display: block;
}

.sidebar .logo {
    padding: 18px 0;
    margin: 20px;
}

.sidebar .logo img {
  width: 100%;
  height: 100%;
}
.sidebar .logo {
    border-bottom: 1px solid hsla(0,0%,100%,.3);
}

.sidebar-wrapper {
    position: relative;
    max-height: 100%;
    min-height: none;
    width: 230px;
    overflow: hidden;
    // box-shadow: inset -1px 0 0 0 #ddd;
}

.sidebar-wrapper .nav {
    padding: 18px 0;
}

.sidebar-wrapper .nav a:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-wrapper .nav a {
    display: block;
    color: $side-bar-cor-interna;
    position: relative;
    padding: 0 20px;
}

.sidebar-wrapper .nav p {
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    font-family: Muli, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.sidebar-wrapper .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
}

.sidebar-wrapper .nav > li.active a {
    color: $nav-item-active;
}

.sidebar-wrapper .nav > li.active a::before{
    content: " ";
    border-right: 17px solid #ddd;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    top: 8px;
    right: -1px;
    display: inline-block;
    position: absolute;
}

.sidebar-wrapper .nav > li.active a::after{
    content: " ";
    border-right: 17px solid #f4f3ef;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    top: 8px;
    right: -1px;
    display: inline;
    position: absolute;
}
