<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <img src="../../../assets/logo/logo.png" alt="Logo">
        </div>

        <ul class="nav flex-column">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/dashboard">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a  routerLink="/perfil" >
                        <i class="ti-user"></i>
                        <p>Perfil do Usuário</p>
                </a>
            </li>
        </ul>
    </div>
</div>
