<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <p class="text-center">Logo</p>
        </div>

        <ul class="nav flex-column">
            <li class="nav-item active">
                <a href="">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="">
                        <i class="ti-user"></i>
                        <p>Perfil</p>
                </a>
            </li>
        </ul>
    </div>
</div>
