<form action="" (ngSubmit)="sendCommand($event)" novalidate [formGroup]="perfilForm" autocomplete="off">
  <app-card-rounded [bodyTemplate]="bodyTemplate">
    <ng-template #bodyTemplate>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="row">
            <div class="form-group col">
              <label for="control-label" for="nome">Nome</label>
              <input type="text" id="nome" formControlName="nome" placeholder="nome é requerido" required
                class="form-control">
              <div class="invalid-feedback">
                <p [innerHTML]="erros.nome"></p>
              </div>
              <input *ngIf="formType === 2" type="hidden" id="id" name="id" formControlName="id">
            </div>

            <div class="form-group col">
              <label for="control-label" for="descricao">Descrição</label>
              <input type="text" id="descricao" placeholder="Ex: perfil para usuários do RH" formControlName="descricao"
                class="form-control">
              <div class="invalid-feedback">
                <p [innerHTML]="erros.descricao"></p>
              </div>
            </div>

          </div>
          <div class="row center">
            <button class="btn ml-auto mr-auto btn-lg btn-rounded"
              [ngClass]="{ 'btn-info': formType == 2, 'btn-success': formType == 1 }"
              [disabled]="perfilForm.invalid">{{ formType == 1 ? 'Adicionar': 'Atualizar' }}</button>
          </div>

          <div class="row">
            {{perfilForm.value | json}}
          </div>
        </div>
      </div>
    </ng-template>
  </app-card-rounded>


  <app-card-rounded [bodyTemplate]="permissoesBody">
    <ng-template #permissoesBody>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">Permissões</h3>
              <div class="col-md-12" *ngFor="let permissao of permissoes; let i = index">
                <div class="row">
                  <div class="col-md-8 offset-md-3 mb-2">
                    <div class="row">
                      <div class="col">
                        <p>{{permissao.valor}}</p>
                      </div>
                      <div class="col">
                        <div class="btn-group btn-group-toggle">
                          <label class="btn btn-secondary"
                            [ngClass]="{'btn-danger active': radioAtivo(i, criarValor(permissao.id, false))}">
                            <input type="radio" name="atribuicoes" id="option{{i}}"
                              [value]="criarValor(permissao.id, false)"
                              [formControl]="perfilForm.controls.atribuicoes.controls[i]" autocomplete="off"> <i
                              class="ti-close"
                              [ngClass]="{'text-red': !radioAtivo(i, criarValor(permissao.id, false))}"></i>
                          </label>
                          <label class="btn btn-secondary" [ngClass]="{'btn-dark active': perfilForm.controls.atribuicoes.controls[i].value === null}">
                            <input type="radio" name="atribuicoes" [value]="null"
                              id="option{{i}}" [formControl]="perfilForm.controls.atribuicoes.controls[i]"
                              autocomplete="off"><i class="ti-bolt-alt"></i>
                          </label>
                          <label class="btn btn-secondary"
                            [ngClass]="{'btn-success active': radioAtivo(i, criarValor(permissao.id, true))}">
                            <input type="radio" name="atribuicoes" id="option{{i}}"
                              [value]="criarValor(permissao.id, true)"
                              [formControl]="perfilForm.controls.atribuicoes.controls[i]" autocomplete="off"><i
                              class="ti-check"
                              [ngClass]="{'text-green': !radioAtivo(i, criarValor(permissao.id, true))}"></i>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </app-card-rounded>
</form>
