/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "./assets/themify-icons/themify-icons.css";
@import "./assets/sass/variables";

.toast {
  opacity: 100%;
}
body {
    font-size: 14px;
    background: $bg-color;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}


.toast ul.list-group, .alert ul.list-group  {
  list-style-type: none;
}

.toast .list-group li.list-group-item, .alert .list-group li.list-group-item {
  background-color: transparent;
  border: none;
}
