.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  background-color: #f4f3ef;
}

.navbar {
  margin-bottom: 10px;
}

.content {
  padding: 0 30px 30px;
  min-height: calc(100vh - 123px);
}
.container-fluid {
  padding: 0 30px 30px;
}
