<div class="row">
  <div class="col-md-4">
      <app-card-rounded [bodyTemplate]="dados" [footerTemplate]="footer" [nomeUsuario]="'Fake User'" >
        <ng-template #dados>
            <p class="card-text font-weight-light font-italic">"Percebemos, cada vez mais, que a complexidade dos estudos efetuados cumpre um papel essencial na formulação dos índices pretendidos."</p>
        </ng-template>
        <ng-template #footer>
            <span class="badge badge-primary">Know</span>
            <span class="badge badge-secondary">ledge</span>
            <span class="badge badge-success">I.O</span>
        </ng-template>

      </app-card-rounded>
  </div>

  <div class="col-md-8">
    <app-card-rounded titulo="Editar Perfil" [bodyTemplate]="campos">
      <ng-template #campos>
        <app-formulario-usuario [formType]="formType"></app-formulario-usuario>
      </ng-template>
    </app-card-rounded>
  </div>
</div>
