.toast-position {
position: relative;
bottom: 100px;
margin:  0 auto;
}


ul.error-list {
  list-style-type: none;
}

.error-list li.list-group-item {
  background-color: transparent;
  border: none;
}
