.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
  border-color: transparent;
  background: #2f3640;
  color: #FFF;
}

.input-group-text {
  background-color: #2f3640;
  border: 1px solid transparent;
}
