<div class="auth-content">
  <div class="auth-modal">
      <div class="auth-logo">
        <img src="../../../assets/logo/logo.png" alt="Logo">
      </div>
      <form novalidate (ngSubmit)="autenticarUsuario($event)" [formGroup]="loginForm">
          <div class="form-group">
              <input type="text" name="username" class="form-control" formControlName="username"
                  placeholder="E-mail" required>

              <div class="invalid-feedback">
                  <p [innerHtml]="erros.username"></p>
              </div>
          </div>
          <div class="form-group">
              <input type="password" name="password" class="form-control"
                   formControlName="password" placeholder="Senha" required>

              <div class="invalid-feedback">
                  <p [innerHtml]="erros.password"></p>
              </div>
          </div>

          <button class="btn btn-primary btn-lg btn-block" [disabled]="loginForm.invalid || inRequest" type="submit">Entrar</button>
      </form>
    </div>
  </div>
  <app-toast [tipoToast]="'error'" [toastBody]="bodyToast" [mostrarToast]="errosDeRequest.length > 0" (close)="close($event)">
    <ng-template #bodyToast>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let erro of errosDeRequest">
            {{erro}}
          </li>
        </ul>
    </ng-template>
  </app-toast>

