<div class="row justify-content-start" *ngIf="perfil">
    <div class="col-md-12">
      <app-card-rounded [bodyTemplate]="dados" [footerTemplate]="footer">
        <ng-template #dados>
          <h2 class="text-center text-greenland">{{perfil.nome}}</h2>
          <h5 class="text-center">{{perfil.descricao}}</h5>
          <p>
            Os perfis possuem permissões atribuidas, para fornecer aos usuários vinculados níveis de acesso.
            <span class="text-danger">modifica-la pode ocorrer em alterações no comportamento do sistema.</span>
          </p>
        </ng-template>
        <ng-template #footer>
            <div class="row">
                <a [routerLink]="['/perfis/editar', perfil.id]" class="btn btn-primary mr-1"> <i class="ti-pencil"></i>Editar</a>
                <button type="button" class="btn btn-danger" (click)="open(content)"><i class="ti-trash"></i>Excluir</button>
            </div>

            <div class="row mt-4">
                <span class="badge badge-primary">Know</span>
                <span class="badge badge-secondary">ledge</span>
                <span class="badge badge-success">I.O</span>
            </div>
        </ng-template>

      </app-card-rounded>
    </div>
  </div>

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Exclusão</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p><strong>Você tem certeza que deseja excluir a permissão <span class="text-primary">"{{perfil.nome}}"</span>?</strong></p>
          <p>Esta operação pode afetar todos os dados que dependem deste perfil.
          <span class="text-danger">Esta operação não poderá ser desfeita.</span>
          </p>
      </div>
      <div class="modal-footer">
          <button type="button" ngbAutofocus class="btn btn-outline-primary" (click)="modal.dismiss('cancel click')">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
      </div>
    </ng-template>
